:root {
  /* add color */
  --white: #FFFFFF;
  --black: #313131;
  --orange: #FE7F2E;
  --yellow: #FCCA47;
  --blue: #243871;
  --darkblue: #06205B;
  --tosca: #00C6C2;
}

@font-face {
  font-family: "SFProRegular";
  src: URL("/asset/font/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "SFProMedium";
  src: URL("/asset/font/SFPRODISPLAYMEDIUM.OTF") format("truetype");
}

@font-face {
  font-family: "SFProBold";
  src: URL("/asset/font/SFPRODISPLAYBOLD.OTF") format("truetype");
}

.splide__pagination__page.is-active {
  color: var(--black) !important;
  transform: scale(1.4);
}


body, h1, h2, h3, h4, h5, h6 {
  font-family: "SFProRegular" !important;
}

@media only screen and (min-width: 1200px) {
  /* .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  } */
}

@media only screen and (max-width: 768px) {


  .subtitle-skill-obtain {
    font-size: 25px !important;
  }

  .icon-img {
    width: 50px !important;
    height: 50px !important;
  }

  .icon-desc {
    font-size: 15px !important;
  }

  .btn-bip, .btn-srip {
    font-size: 13px !important;
    padding: 2px 0px !important;
  }

  .text-activity {
    font-size: 20px !important;
  }

  .text-activity-2 {
    font-size: 20px !important;
    margin-bottom: 3vh !important;
  }

  .nav-not-active-sm {
    top: 0 !important;
  }

  .subtitle-what-learn {
    font-size: 24px !important;
    margin-bottom: 10vh !important;
    /* text-shadow: 1px 1px 2px var(--orange) !important; */
  }


  .section-7 {
    margin-bottom: 0vh !important;
  }

  .subtitle-our-team {
    font-size: 30px !important;
  }

  .text-early-section-5,
  .text-title-section-6,
  .text-desc-section-4 {
    margin-top: 10vh !important;
    color: var(--orange) !important;
    font-size: 40px !important;
    scroll-margin-top: 10vh !important;
  }

  .text-early-section-6 {
    font-size: 30px !important;
  }

  .passion {
    display: none !important;
    height: 100vh !important;
  }

  .make-passion {
    font-size: 3em !important;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #dedede;
  }

  .text-title-section-7 {
    font-size: 40px !important;
    line-height: 1 !important;
    margin-bottom: 2vh !important;
  }

  .text-paragraph-section-7 {
    font-size: 25px !important;
    line-height: 1 !important;
  }

  .text-title-section-3 {
    font-size: 35px !important;
    line-height: 1 !important;
  }

  .accordion-text-header {
    font-size: 20px !important;
  }

  .accordion-body {
    font-size: 20px !important;
  }


  .text-header-italic {
    font-size: 20px !important;
    margin-bottom: 5vh !important;
  }

  .section-1 {
    margin-bottom: 1vh !important;
  }

  .section-2 {
    margin-bottom: 1vh !important;
  }

  section {
    background-color: white;
    padding: 0 !important;
  }

  .section-6 {
    margin-bottom: 1vh !important;
  }

  .section-3 {
    margin-bottom: 1vh !important;
  }

  .section-4 {
    scroll-margin-top: 55vh !important;
    margin-top: 0vh !important;
    background: url('/asset/img/main/introducing_mobile.webp') !important;
    background-attachment: fixed !important;
    /* top: -200px; */
    /* height: 130vh !important; */
  }


  .text-section-2 {
    margin-left: 0vh !important;
    /* margin-right: 15vh; */
  }

  .text-section-2 {
    margin-left: 0vh !important;
    /* margin-right: 15vh; */
  }

  .margin-price {
    padding: 1vh !important;
  }

  .margin-why {
    padding: 1vh 1vh 1vh 0 !important;
  }

  .margin-section-4 {
    padding: 1vh 1vh 1vh 0 !important;
  }

  .margin-early-section-4 {
    padding: 1vh !important;
  }

  .margin-early-section-8 {
    padding: 1vh !important;
  }

  .navbar-pic {
    width: 75px !important;
  }

  .nav-item {
    padding-left: 0rem !important;
  }

  .text-title-section-4 {
    color: var(--black) !important;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    margin-top: 10em !important;
    /* margin-bottom: 1vh !important;  */
    /* margin-left: 7vh; */
  }

  .what-you-learn-bip,
  .what-you-learn-srip,
  .what-you-learn-bip-polos {
    margin-top: 0px !important;
    margin-bottom: 3px !important;
    font-size: 18px !important;
    /* white-space: nowrap; */
    margin-right: 0 !important; 
    line-height: 0.5 !important;
    /* margin-left: 7vh; */
  }

  .what-you-learn-bip {
    margin-left: 0px !important;
    margin-right: 5px !important;
    padding: 0vh !important;
  }

  .what-you-learn-srip {
    margin-left: 5px !important;
    margin-right: 0px !important;
    padding: 0vh !important;
  }

  .text-title-section-5 {
    color: var(--black) !important;
    text-align: left;
    /* text-shadow: 1px 1px 2px #000 !important; */
    /* margin-top: 3vh !important;
    margin-bottom: 1vh !important; */
    /* margin-left: 7vh; */
  }

  .text-date-section-4 {
    font-size: 1.7em !important;
    /* margin-top: 4vh !important; */
    margin-bottom: 2vh !important;
  }

  .margin-left {
    margin-left: 1vh !important;
  }

  .margin-header-section-1 {
    margin-top: 3vh !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
  }

  .margin-header-section-2 {
    margin-top: 3vh !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
  }

  .margin-header-section-3 {
    scroll-margin-top: 55vh !important;
    margin-top: 3vh !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
  }

  .margin-header-section-4 {
    margin-top: 3vh !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
  }

  .margin-header-section-5 {
    margin-top: 3vh !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
  }


  .margin-header-section-6 {
    margin-top: 3vh !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
  }

  .margin-header-section-7 {
    margin-top: 3vh !important;
    margin-left: 1vh !important;
    margin-right: 1vh !important;
  }

  .logo-header {
    /* display: none !important; */
    /* background: url('/asset/img/main/Introducing_logo.png') !important; */
    margin-left: -5vh !important;
    margin-top: -1vh !important;
    /* padding: 3vh !important; */
  }

  .logo-active {
    width: 90% !important;
  }

  .logo-not-active {
    margin-top: 0vh !important;
    width: 0%;
  }

  .text-early-section-4 {
    margin-top: 0vh !important;
    font-size: 35px !important;
  }

  .logo-header-2 {
    margin-top: 10vh !important;
    width: 90% !important;
  }

  .logo-asset {
    margin-top: 1vh !important;
    width: 90% !important;
    display: none !important;
  }

  .logo-asset-2 {
    margin-top: 1vh !important;
    width: 90% !important;
  }

  .logo-asset-3{
    display: none !important;
  }

  .header-bg {
    /* top: -200px; */
    height: 200vh !important;
  }

  .header-bg {
    transition: all 0.31s;
    background: url('/asset/img/main/Headline\ 1_mobile.webp') !important;
    background-size: cover !important;
    background-position: right !important;
    background-attachment: fixed !important;
    margin-top: 0;
    height: 200vh !important;
  }
  
  .header-bg-2 {
    transition: all 0.3s;
    background: url('/asset/img/main/Headline\ 2_mobile.webp') !important;
    background-size: cover !important;
    background-position: right !important;
    background-attachment: fixed;
    margin-top: 0;
    height: 200vh !important;
  }

  .team-aaron-desc {
    font-size: 18px !important;
  }

  .team-karen-desc {
    font-size: 18px !important;
  }

  .team-farrel-desc {
    font-size: 18px !important;
  }

  .farrel-img {
    margin-top: 5% !important;
  }

  .photo-img-3 {
    margin-top: 5% !important;
  }

  .photo-homebaked {
    height: 0 !important;
  }

  .photoboxof {
    height: 0 !important;
  }

  .header-inner {
    background-color: white !important;
  }

  .nav-item>.nav-link {
    color: black !important;
  }

  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }

  .team-farrel {
    text-align: center !important;
  }

  .team-farrel-desc {
    padding-top: 3% !important;
    text-align: center !important;
  }

  .team-karen {
    text-align: center !important;

  }

  .team-karen-desc {
    padding-top: 3% !important;
    text-align: center !important;
  }

  .team-aaron {
    text-align: center !important;
  }

  .team-aaron-desc {
    padding-top: 3% !important;
    text-align: center !important;
  }

  .offering {
    text-align: center !important;
  }

  #home {
    padding-top: 1% !important;
  }

  .portfolio-headline-header {
    font-size: 32px !important;
    text-align: center !important;
  }

  .client-headline-header {
    font-size: 20px !important;
    text-align: left !important;
  }

  .headline-header {
    font-size: 105px !important;
    text-align: left !important;
  }

  .headline-header-2 {
    font-size: 105px !important;
    text-align: center !important;
  }

  .subtitle-header {
    font-size: 24px !important;
  }

  .subtitle-header-2 {
    font-size: 22px !important;
  }

  .subtitle-about-uss {
    text-align: center !important;
    padding: 2rem 0 0.5rem 0 !important;
  }

  .subtitle-about-us {
    text-align: center !important;
    font-size: 32px !important;
  }

  .subtitle-about-us-2 {
    text-align: center;
    font-size: 18px !important;

  }

  .solution {
    text-align: center !important;
    font-size: 26px !important;
  }

  /* .subtitle-about{
    text-align: left !important;
  } */

  .desc-misi {
    font-size: 18px !important;
  }

  .button-booking {
    font-size: 26px !important;
    background: var(--orange);
    color: #FFFFFF;
    font-weight: 700 !important;
    border-radius: 5px !important;
  }

  .footer-flashspree {
    font-size: 24px !important;
  }

  .follow {
    font-size: 18px !important;
  }

  .follow {
    font-size: 14px !important;
  }


  .img-raised {
    width: 10% !important;
  }

  .booking-offer {
    font-family: 'SFProRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 95px;
    letter-spacing: 0.01em;
    color: #404040;
  }


  .portfolio-show {
    padding-top: 0rem !important;
  }

  .icon-target-major{
    width: 10% !important;
  }

  .disappear{
    display: none !important;
  }

  .padding-choose{
    padding-left: 0vh !important;
  }
  
  .text-introduce-section-4 {
    font-family: "SFProMedium" !important;
    font-size: 22px !important;
    margin-bottom: -3vh !important;
    color: var(--darkblue) !important;
    /* margin-top: 3vh; */
    font-weight: 600 !important;
    letter-spacing: 0.01em !important;
  }

  .padding-logo{
    padding-right: 0 !important;
  }
  
}

.padding-logo{
  padding-right: 12em;
}

.padding-choose{
  padding-left: 10vh;
}

.text-introduce-section-4{
  display: none !important;
}

.icon-target-major{
  width: 6%;
}

.accordion-text-header {
  font-size: 25px;
}

.accordion-body {
  font-size: 20px;
}

.testi-card .card {
  border-radius: 10px;
  border: unset !important;
}

.skills {
  margin-top: -5%;
  background: #FE7F2E;
}

.text-activity {
  font-size: 24px;
}

.text-activity-2 {
  font-size: 24px;
  margin-bottom: 10vh;
}

.btn-bip {
  background: #00C6C2;
  color: #fff !important;
  font-size: 24px;
  border-radius: 5px !important;
  transition: all 0.3s;
}

.btn-srip {
  background: #243871;
  color: #fff !important;
  font-size: 24px;
  border-radius: 5px !important;
  transition: all 0.3s;
}

.btn-bip:hover, .btn-srip:hover {
  opacity: 0.7;
}

.navbar-pic {
  width: 125px;
}

/* .section-1 {
  margin-bottom: 10vh;
} */

.section-2 {
  margin-bottom: 8vh;
}

.section-6 {
  margin-bottom: 1vh;
}

.header-bg {
  transition: all 0.31s;
  background: url('/asset/img/main/Headline\ 1.webp');
  background-size: cover !important;
  background-position: left;
  background-attachment: fixed;
  margin-top: 0;
  height: 200vh;
}

.header-bg-2 {
  transition: all 0.3s;
  background: url('/asset/img/main/Headline\ 2.webp');
  background-size: cover !important;
  background-position: right;
  background-attachment: fixed;
  margin-top: 0;
  height: 200vh;
}

.section-4 {
  background: url('/asset/img/main/career_new.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom right;
  margin-top: 20vh;
  scroll-margin-top: 40vh;
  /* top: -200px; */
  /* height: 110vh; */
}

.section-5 {
  background: url('/asset/img/main/career_new.webp');
  background-size: cover;
  background-position: center;
  margin-top: 5vh;
  /* top: -200px; */
  height: 110vh;
}

.section-7 {
  /* background: url('/asset/img/main/career_new.webp'); */
  background-size: cover;
  background-position: center;
  margin-top: 2vh;
  margin-bottom: 10vh;
  /* top: -200px; */
  /* height: 110vh; */
}

.navbar {
  transition: all 0.3s !important;
}

.nav-not-active {
  top: -100px !important;
}

.nav-active {
  top: 0 !important;
}


.logo-header {
  padding: 5vh;
  margin-top: -35vh;
  margin-left: -5vh;
  transition: all 0.5s;
}

.logo-active {
  width: 100%;
}

.logo-not-active {
  margin-top: 0vh !important;
  width: 0%;
}

.logo-header-2 {
  /* margin-top: 15vh; */
  width: 100%;
  margin-top: 15vh;
}

.logo-asset {
  width: 80%;
}

.logo-asset-2 {
  width: 70%;
}

.t-box1 {
  font-size: 28px;
  font-weight: 800;
  color: var(--black);
}


.example {
  background-color: #eee;
  border: 1px dotted black;
  overflow-y: scroll;
  /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.margin-price {
  padding: 100vh;
}

.margin-early-section-4 {
  padding: 5vh 0 5vh 8vh;
}

.margin-early-section-7 {
  padding: 0 25vh 0 0;
}

.margin-early-section-6 {
  padding: 0 0 0 25vh;
}

.margin-early-section-8 {
  padding: 5vh 0 5vh 25vh;
}

.margin-why {
  padding: 10vh 10vh 10vh 0;
}

.margin-section-4 {
  padding: 5vh 5vh 5vh 0;
}

.margin-left {
  margin-left: 10vh;
}

.margin-header-section-1 {
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 15vh;
}

.margin-header-section-2 {
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 15vh;
}

.margin-header-section-3 {
  scroll-margin-top: 40vh ;
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 15vh;
}

.margin-header-section-4 {
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 15vh;
}

.margin-header-section-5 {
  margin-top: 15vh;
  margin-left: 10vh;
  margin-right: 13vh;
}

.margin-header-section-6 {
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 15vh;
}


.margin-header-section-7 {
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 13vh;
}

.text-section-2 {
  margin-left: 1vh;
  /* margin-right: 15vh; */
}

.text-section-3 {
  margin-left: 10vh;
  /* margin-right: 15vh; */
}

.portfolio-show {
  padding-top: 1rem;
  text-align: center;
}

.text-header {
  font-family: "SFProMedium";
  font-size: 22px;
  color: var(--black);
  font-weight: 300;
  line-height: 1.8;
  /* margin-right: 7vh; */
  letter-spacing: 0.01em;
}

.text-header-italic {
  font-family: "SFProMedium";
  font-size: 22px;
  color: var(--black);
  /* font-weight: 300; */
  margin-bottom: 10vh;
  letter-spacing: 0.01em;
}

.text-title-section-2 {
  font-family: "SFProBold";
  font-size: 34px;
  color: var(--blue);
  font-weight: 800;
  margin-bottom: 2vh !important;
  /* margin-left: 7vh; */
}

.text-title-section-3 {
  font-family: "SFProBold";
  font-size: 40px;
  color: var(--blue);
  font-weight: 900;
  margin-bottom: 2vh !important;
  /* margin-left: 7vh; */
}

.text-title-section-4 {
  font-family: "SFProBold";
  font-size: 45px;
  color: var(--black);
  font-weight: 900;
  line-height: 1.2;
  /* margin-top: 30vh;
  margin-bottom: 3vh; */
  /* margin-left: 7vh; */
}

.text-title-desc-section-4 {
  font-family: "SFProBold";
  font-size: 30px;
  color: var(--black);
  font-weight: 900;
  line-height: 1.2;
  /* margin-top: 30vh;
  margin-bottom: 3vh; */
  /* margin-left: 7vh; */
}

.text-title-desc-exp-section-4 {
  font-family: "SFProBold";
  font-size: 18px;
  color: var(--black);
  font-weight: 900;
  line-height: 1.2;
  /* margin-top: 30vh;
  margin-bottom: 3vh; */
  /* margin-left: 7vh; */
}

.text-title-section-7 {
  font-family: "SFProBold";
  font-size: 60px;
  color: var(--blue);
  font-weight: 900;
  margin-bottom: 6vh;
  line-height: 1;
  /* margin-left: 7vh; */
}

.what-you-learn-bip {
  font-family: "SFProMedium";
  border-radius: 5px;
  font-size: 24px;
  background: #BFF1F0;
  /* font-weight: 900; */
  line-height: 1.2;
  padding: 0.5vh;
  margin: 1vh 1vh 1vh 0vh;
  /* margin-top: 30vh; */
  /* margin-bottom: 3vh; */
  /* margin-left: 7vh; */
}

.what-you-learn-bip-polos {
  font-family: "SFProMedium";
  font-size: 24px;
  border-radius: 5px;
  /* background: #C1C7D6; */
  /* font-weight: 900; */
  line-height: 1.2;
  padding: 0.5vh;
  /* margin: 1vh 1vh 1vh 0vh; */
  /* margin-top: 30vh; */
  /* margin-bottom: 3vh; */
  /* margin-left: 7vh; */
}

.what-you-learn-srip-polos {
  border-radius: 5px;
  font-family: "SFProMedium";
  font-size: 24px;
  /* background: #C1C7D6; */
  /* font-weight: 900; */
  line-height: 1.2;
  padding: 0.5vh;
  margin: 1vh 0vh 1vh 1vh;
  /* margin-top: 30vh; */
  /* margin-bottom: 3vh; */
  /* margin-left: 7vh; */
}

.what-you-learn-srip {
  border-radius: 5px;
  font-family: "SFProMedium";
  font-size: 24px;
  background: #C1C7D6;
  /* font-weight: 900; */
  line-height: 1.2;
  padding: 0.5vh;
  margin: 1vh 0vh 1vh 1vh;
  /* margin-top: 30vh; */
  /* margin-bottom: 3vh; */
  /* margin-left: 7vh; */
}

.text-title-section-5 {
  font-family: "SFProBold";
  font-size: 40px;
  color: var(--black);
  font-weight: 900;
  line-height: 1.2;
  /* margin-bottom: 2vh !important;
  margin-top: 40vh; */
}

.text-title-section-6 {
  font-family: "SFProBold";
  font-size: 65px;
  color: var(--darkblue);
  font-weight: 900;
  line-height: 1.2;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 2vh !important;
}



.text-paragraph-section-4 {
  font-family: "SFProMedium";
  font-size: 22px;
  color: var(--black);
  /* margin-top: 3vh; */
  font-weight: 600;
  letter-spacing: 0.01em;
}

.text-paragraph-section-5 {
  font-family: "SFProMedium";
  font-size: 22px;
  color: var(--black);
  font-weight: bold;
  letter-spacing: 0.01em;
}

.text-paragraph-section-6 {
  font-family: "SFProMedium";
  font-size: 22px;
  color: var(--darkblue);
  margin-top: 25vh;
  /* font-weight: 300; */
  letter-spacing: 0.01em;
}

.text-paragraph-section-7 {
  font-family: "SFProMedium";
  font-size: 32px;
  color: var(--orange);
  margin-bottom: 3vh;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01em;
}



.text-date-section-4 {
  font-family: "SFProBold";
  font-size: 2.4em;
  color: var(--black);
  /* font-weight: 300; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.text-date-section-5 {
  font-family: "SFProBold";
  font-size: 24px;
  color: var(--darkblue);
  /* font-weight: 300; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  /* margin-top: 10vh; */
}

.text-desc-section-2 {
  font-family: "SFProBold";
  font-size: 34px;
  color: var(--yellow);
  font-weight: 800;
  margin-bottom: 5vh !important;
  /* margin-left: 7vh; */
}

.text-price-section-3 {
  font-family: "SFProBold";
  font-size: 64px;
  color: var(--yellow);
  font-weight: 800;
  margin-bottom: 2vh !important;
  /* margin-left: 7vh; */
}

.text-price-section-form {
  font-family: "SFProBold";
  font-size: 34px;
  color: var(--black);
  font-weight: 800;
  margin-bottom: 2vh !important;
  /* margin-left: 7vh; */
}

.text-price-section-form {
  font-family: "SFProBold";
  font-size: 34px;
  color: var(--black);
  font-weight: 800;
  margin-bottom: 2vh !important;
  /* margin-left: 7vh; */
}


label {
  /* display:block; */
  border-radius: 5px;
  border: solid 2px #D9D9D9;
  width: 120px;
  height: 40px;
  background-color: #D9D9D9;
  margin-top: 10px;
  color: #B6B6B6;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.intertested-checkbox {
  /* display:block; */
  border-radius: 5px;
  border: solid 2px #D9D9D9;
  width: 350px;
  height: 40px;
  background-color: #D9D9D9;
  margin-top: 10px;
  color: #B6B6B6;
  text-align: center;
  line-height: 40px;
}


input[type=radio] {
  display: none;
}

/* input:checked + label:before {
  content: "✓ ";
} */

input:checked+.intertested-checkbox {
  border: solid 2px var(--blue);
  color: var(--white);
  background-color: var(--blue);
}

input:checked+label {
  border: solid 2px var(--blue);
  color: var(--white);
  background-color: var(--blue);
}



.text-desc-section-4 {
  font-family: "SFProBold";
  font-size: 44px;
  color: var(--darkblue);
  font-weight: 800;
  line-height: 0.9;
  margin-bottom: 2vh !important;
  /* text-shadow: 1px 1px 2px #000; */
  /* margin-top: 30vh; */
}

.text-early-section-4 {
  font-family: "SFProBold";
  font-size: 3.5em;
  color: #156d76;
  font-weight: 900;
  line-height: 1.2;
  /* margin-bottom: 2vh !important; */
  margin-top: -10vh;
}

.text-early-section-6 {
  font-family: "SFProBold";
  font-size: 40px;
  color: var(--orange);
  font-weight: 900;
  text-shadow: 2px 2px #fff;
  line-height: 1.2;
  margin-top: -18vh;
}

.text-early-section-5 {
  font-family: "SFProBold";
  font-size: 60px;
  color: var(--darkblue);
  font-weight: 900;
  line-height: 1.2;
  /* margin-bottom: 1vh !important; */
  margin-top: 40vh;
  scroll-margin-top: 38vh;
  text-shadow: 1px 1px 2px #000;
}


.text-early-desc-section-5 {
  font-family: "SFProBold";
  font-size: 40px;
  color: var(--darkblue);
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2vh !important;
  /* margin-top: 40vh; */
  scroll-margin-top: 30vh;
  text-shadow: 1px 1px 2px #000;
}


.text-early-section-7 {
  font-family: "SFProBold";
  font-size: 20px;
  color: var(--orange);
  font-weight: 900;
  text-shadow: 2px 2px #fff;
  line-height: 1.2;
  margin-top: -18vh;
}

/* .subtitle-about-us-2{
  font-family: "SFProRegular";
  font-size: 24px;
  color: #F0F0F0;
  font-weight: 500;
  letter-spacing: 0.05em;
} */

.testi-content {
  height: 180px;
}

.card-text {
  color: var(--white);
  font-size: 28px;
  line-height: 1.2;
}

.card-text-2 {
  color: var(--white);
  font-size: 28px;
  line-height: 1.2;
}

.card-testi {
  margin-bottom: 2vh;
  padding: 2vh;
}

.card-testi-2 {}

/* ul {
  list-style: none;
} */

.list::before {
  content: "\2022";
  color: #000000;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.btn-orange {
  background-color: var(--orange);

}

hr {
  padding: 1px 0;
  display: block;
  position: absolute;
  right: 0;
  max-width: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.7 !important;
}

.slider-scholarship {
  background-color: #233872;
  border-radius: 10px;
  color: #fff;
  padding: 0px;
}

.content-banner .main-img {
  width: 80%;
  position: relative;
  z-index: 1;
  margin: 0px 0px 12px;
}

.btn {
  border-radius: 27px;
  padding: 13px 27px;
}


/* .navbar-brand {
  transform: translateX(0%);
  left: 5%;
  position: absolute;
} */

.navbar {
  position: relative;
  background-color: #ffffff;
}

#home {
  background: #FFFFFF;
  padding-bottom: 2%;
  height: auto;
  top: 0;
  /* margin-top: -65px;
  padding-top: 10%; */
}

#about-us {
  background: var(--white);
  padding-bottom: 2%;
  height: auto;
  top: 0;
}

#our-team {
  background: #FFFFFF;
  background-size: cover;
  padding-bottom: 2%;
  height: auto;
  top: 0;
}

.middle-pict {
  display: flex;
  align-items: center;
}

.photo-img-3 {
  margin-top: 5% !important;
}


label {
  /* display:block; */
  border: solid 2px #D9D9D9;
  width: 120px;
  height: 40px;
  background-color: #D9D9D9;
  margin-top: 10px;
  color: #B6B6B6;
  text-align: center;
  line-height: 40px;
}

.intertested-checkbox {
  /* display:block; */
  border: solid 2px #D9D9D9;
  width: 350px;
  height: 40px;
  background-color: #D9D9D9;
  margin-top: 10px;
  color: #B6B6B6;
  text-align: center;
  line-height: 40px;
}


input[type=checkbox] {
  display: none;
}

/* input:checked + label:before {
  content: "✓ ";
} */

input:checked+.intertested-checkbox {
  border: solid 2px var(--blue);
  color: var(--white);
  background-color: var(--blue);
}

input:checked+label {
  border: solid 2px var(--blue);
  color: var(--white);
  background-color: var(--blue);
}



.booking {
  background: #F4BEEF;
  border-radius: 35px;
}

.booking-offer {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 95px;
  letter-spacing: 0.01em;
  color: #404040;
}

.client-headline-header {
  font-family: "SFProBold";
  display: block;
  font-size: 24px;
  color: #5192B7;
  font-weight: 800;
  padding-bottom: 0% !important;
  text-align: left;
}

.portfolio-headline-header {
  font-family: "SFProBold";
  display: block;
  font-size: 42px;
  color: #85387E;
  font-weight: 800;
  padding-bottom: 0% !important;
  text-align: center;
}

.headline-header {
  font-family: "SFProBold";
  display: block;
  font-size: 130px;
  color: #85387E;
  font-weight: 800;
  padding-bottom: 0% !important;
}

.headline-header-2 {
  font-family: "SFProBold";
  font-size: 130px;
  color: #5192B7;
  font-weight: 800;
  padding-top: -5px !important;
}

.subtitle-header {
  font-family: "SFProBold" !important;
  margin-top: 5vh;
  font-size: 34px;
  color: var(--blue);
  font-weight: 800;
}

.subtitle-header-2 {
  color: #404040;
  font-size: 26px;
  font-weight: 700;
}

.portfolio-header {
  justify-content: center;
  text-align: center;
}

.subtitle-about {
  justify-content: center;
  text-align: center;
  padding-bottom: 3%;
}

.visi-misi {
  justify-content: center;
  text-align: center;
}

.team-farrel {
  justify-content: center;
  text-align: left;
  align-items: center;
  padding-top: 2%;
}

.team-karen {
  justify-content: center;
  text-align: left;
  align-items: center;
}

.team-aaron {
  justify-content: center;
  text-align: left;
  align-items: center;
}

.offering {
  justify-content: center;
  text-align: left;
  align-items: center;
}

.subtitle-our-team {
  font-family: "SFProBold";
  font-size: 78px;
  color: var(--black);
  font-weight: 800;
}

.subtitle-skill-obtain {
  font-family: "SFProBold";
  font-size: 58px;
  color: var(--white);
  font-weight: 800;
}

.icon-img {
  width: 80px;
  height: 80px;
  margin-bottom: 1vh;
}

.icon-desc {
  font-family: "SFProMedium";
  font-size: 24px;
  color: var(--white);
}

.subtitle-what-learn {
  font-family: "SFProBold";
  font-size: 38px;
  color: var(--black);
  font-weight: 800;
}

.subtitle-about-uss {
  padding: 1rem 0 2rem 0;
}

.subtitle-about-us {
  font-family: "SFProBold";
  font-size: 48px;
  color: #F0F0F0;
  font-weight: 700;
}

.subtitle-portfolio {
  font-family: "SFProBold";
  font-size: 52px;
  color: #F0F0F0;
  font-weight: 700;
}

.subtitle-about-us-2 {
  font-family: "SFProRegular";
  font-size: 24px;
  color: #F0F0F0;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.splider {
  align-items: center;
  display: flex;
}

.header-misi {
  padding: 10% 0 2% 0;
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.07em;
  color: #F0F0F0;
}

.desc-misi {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: #F0F0F0;
  letter-spacing: 0.05em;
}

.team-farrel-header {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5192B7;
}

.team-farrel-position {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #85387E;
}

.team-farrel-desc {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  text-align: left;
  color: #404040;
  letter-spacing: 0.05em;
  padding-top: 3%;
}


.team-karen-header {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5192B7;
}

.team-karen-position {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #85387E;
}

.team-karen-desc {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  text-align: left;
  color: #404040;
  letter-spacing: 0.05em;
  padding-top: 3%;
}

.team-aaron-header {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5192B7;
}

.team-aaron-position {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #85387E;
}

.team-aaron-desc {
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  text-align: left;
  color: #404040;
  letter-spacing: 0.05em;
  padding-top: 3%;
}

.logo {
  font-family: "SFProBold";
  font-size: 25px;
  color: #6A6A6A;
}

.button-booking {
  font-size: 36px;
  background: var(--orange);
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 5px;
}

.button-booking:hover {
  background: var(--blue);
  color: #FFFFFF;
  font-weight: 700;
}


.button-nav {
  font-size: 18px;
  background: #5192B7;
  color: #F0F0F0;
  font-weight: bold;
}

.button-nav:hover {
  background: #85387E;
  color: #F0F0F0;
  font-weight: bold;
}

.nav-item {
  padding-left: 5rem;
}

.nav-item .nav-link {
  font-family: "SFProRegular";
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  transition: 0.15s;
}

.nav-item .bold {
  font-family: "SFProBold";
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: var(--blue);
  ;
}

.nav-item:active {
  color: var(--blue);
  ;
}

.header-btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: gray;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: #fe4066;
  cursor: pointer;
}

.navbar-scroll {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 99;
  /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); */
  transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
  color: var(--black);
}

.navbar-scroll .nav-item .nav-link:hover {
  color: var(--blue);
}

.navbar-scroll .header-btn {
  color: #ffffff;
  background-color: #fcae42;
}

.navbar-scroll .logo {
  color: #000;
  font-weight: 500;
}

section {
  background-color: white;
  padding: 3rem 0rem 2rem;
}


.footer-desc {
  color: #ffffff;
}

footer {
  padding: 1% 2% 1% 2%;
  background: #000A2D;
  color: #FFFFFF;
}

.footer-flashspree {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}

.footer-flashspree a {
  text-decoration: none;
}

.follow {
  font-family: 'Ivy Mode';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.username {
  font-family: 'Ivy Mode';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

.passion {
  height: 100vh;
}

.make-passion {
  color: var(--orange);
  text-shadow: 1px 1px 2px #9b9b9b;
  font-size: 5em;
  font-weight: bold !important;
}

.margin-gip {
  margin-top: 12vh;
}

.bg-stabilo-rev {
  color: var(--darkblue);
  background: transparent;
  animation: stabilo-rev 3s ease 500ms infinite;
}

.bg-stabilo {
  color: var(--darkblue);
  background: orange;
  animation: stabilo 3s ease 500ms infinite;
}

@keyframes stabilo {
  30% {
    color: #fff;
    background: orange;
  }

  60% {
    color: var(--darkblue);
    background: transparent;
  }

  90% {
    color: #fff;
    background: orange;
  }
}

@keyframes stabilo-rev {
  30% {
    color: var(--darkblue);
    background: transparent;

  }

  60% {
    color: #fff;
    background: orange;
  }

  90% {
    color: var(--darkblue);
    background: transparent;
  }
}

.vertical-line {
  width: 5px;
  height: 100%;
  background: var(--orange);
}